.card {
	border-radius: 1rem;
	margin: 12;
}

.card-img-top {
	overflow: hidden;
}

.card img {
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	-webkit-transition: all 0.4s ease-out;
}

.card img:hover {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
}

.cardModel {
	padding: 3px;
}

.card-body {
	text-align: center;
}

.card-body-model {
	text-align: center;
	padding-top: 23px;
}

.imageBrand {
	padding-top: 15px;
	height: 182px;
	width: 158px;
	margin: auto;
}

.imageModel {
	height: 100px;
	width: 160px;
	margin: auto;
}

.form-horizontal {
	text-align: center;
	left: 30%;
}

.card-panel {
	margin: 0;
	border-radius: .25rem;
}

.panel-elements {
	margin-bottom: 10px;
}

.form-add-text-image>form>.form-group {
	margin-bottom: 2rem;
}

footer {
	margin-top: 20px;
	background-color: #343a40;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.select-language {
	margin-right: 12px;
	text-align: right;
}

.select-language a {
	color: white;
}