<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>

		<property name="hibernate.connection.driver_class">
			com.mysql.cj.jdbc.Driver
		</property>

		<property name="hibernate.connection.url">
			jdbc:mysql://localhost/car_catalog?useTimezone=true&amp;serverTimezone=UTC
		</property>

		<property name="hibernate.connection.username">
			root
		</property>

		<property name="hibernate.connection.password">
			root
		</property>



		<property name="hibernate.enable_lazy_load_no_trans">true</property>

		<property name="current_session_context_class">thread</property>

		<mapping resource="hbm/user.hbm.xml" />
		<mapping resource="hbm/car.hbm.xml" />
		<mapping resource="hbm/brand.car.hbm.xml" />
		<mapping resource="hbm/model.car.hbm.xml" />
		<mapping resource="hbm/role.hbm.xml" />
		<mapping resource="hbm/favorite.hbm.xml" />

	</session-factory>
</hibernate-configuration>